
-- 1. Conversations Table
CREATE TABLE IF NOT EXISTS public.conversations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_1_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE,
    user_2_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE,
    last_message TEXT,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT now(),
    UNIQUE(user_1_id, user_2_id)
);

-- 2. Messages Table
CREATE TABLE IF NOT EXISTS public.messages (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    conversation_id UUID REFERENCES public.conversations(id) ON DELETE CASCADE,
    sender_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE,
    content TEXT NOT NULL,
    is_read BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT now()
);

-- 3. Security (RLS)
ALTER TABLE public.conversations ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.messages ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
view
their
own
conversations\ 
ON public.conversations FOR SELECT 
USING (auth.uid() = user_1_id OR auth.uid() = user_2_id);

CREATE POLICY \Users
can
view
messages
in
their
conversations\ 
ON public.messages FOR SELECT 
USING (
    EXISTS (
        SELECT 1 FROM public.conversations 
        WHERE id = conversation_id 
        AND (user_1_id = auth.uid() OR user_2_id = auth.uid())
    )
);

CREATE POLICY \Users
can
send
messages\ 
ON public.messages FOR INSERT 
WITH CHECK (auth.uid() = sender_id);
